<!DOCTYPE html>
<html lang="ru">

<%- include('../partials/head.ejs') %>

  <body>
    <div class="container">
      <div class="header-top">
        <span class="logo">I'mProger</span>

        <%- include('../partials/nav.ejs') %>
      </div>
      <div class="form">
        <h2>Добавить статью</h2>
        <form action="/add-post" method="post" class="add_post" id="form" enctype="multipart/form-data">
          <label for="title">Название статьи</label>
          <input type="text" name="title" id="title" placeholder="Введите название статьи" value="<%= data?.title %>">

          <!-- <label for="author">Автор</label> -->
          <input type="hidden" name="author" id='author' value="<%= session.user.name %>">

          <label for="post_text">Текст статьи</label>
          <textarea type="text" name="text" id="text" placeholder="Наберите текст статьи"><%= data?.text %></textarea>

          <label for="post_image">Добавить картинку</label>
          <input type="file" name='image' id="file">

          <div id="error">

            <% if(data.errors) {%>
              <ul>
                <% for(let i=0; i < data.errors.length;i++){ %>

                  <li>
                    <%= data.errors[i].msg %>
                  </li>

                  <% } %>
              </ul>
              <% } %>
          </div>
          <button type="submit" id="send">Добавить</button>
        </form>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>

</html>